.navigations{
    list-style-type: none;
    padding: 10px;
    & > li a{
        display: flex;
        flex-flow: row nowrap;
        column-gap: 16px;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
        padding: 4px 0;
        .line{
            height: 1px;
            width: 2rem;
            background-color: var( --text-color );
            transition: width 300ms;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        span{
            font-size: 0.75rem;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        &:hover{
            color: var( --text-sharp-color );
            .line{
                width: 4rem;
                background-color: var( --text-sharp-color );
            }
        }
    }
}