.root{
  display: grid;
  grid-template-columns: [full-start] minmax( var( --side-padding ), 1fr ) [content-start] minmax( auto, var( --max-width ) ) [content-end] minmax( var( --side-padding ), 1fr ) [full-end];
  height: 100%;
  .main {
    grid-column: content;
    display: grid;
    grid-template-columns: repeat( 2, minmax( 0, 1fr ) );
    padding-top: var( --vertical-padding );
    & > .left{
      min-height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 16px;
      padding-bottom: var( --vertical-padding );
      .details {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 12px;
        .header{
          font-size: 3rem;
          font-weight: 700;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: var( --hdr-bg );
        }
        .subHeader{
          font-size: 1.25rem;
          font-weight: 500;
          color: var( --hdr-color )
        }
      }
      
      .social{
        padding-top: 20px;
        margin-top: auto;
      }
    }
  }
}
